@font-face {
  font-family: 'alimama';
  src: url('../font/AlimamaFangYuanTiVF-Thin.ttf') format('woff2'), url('../font/AlimamaFangYuanTiVF-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@keyframes colorsss {
  0% {
    color: #ffffff;
  }
  25% {
    color: #87CEEB;
  }
  50% {
    color: #000080;
  }
  100% {
    color: #ffffff;
  }
}
.no-transition {
  transition: none !important;
}
.kaifa {
  margin-top: 40px;
  height: 100px;
  width: 1280px;
  font-size: 80px;
  text-align: center;
  animation: colorsss 8s infinite;
  letter-spacing: 30px;
  color: rgba(255, 255, 255, 0.9);
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
.btns {
  width: 40px;
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
.btns .switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 60px;
  /* 调整高度 */
  margin-top: 10px;
  /* Rounded sliders */
}
.btns .switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.btns .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.btns .switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 30px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.btns .switch input:checked + .slider {
  background-color: #2196F3;
}
.btns .switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.btns .switch input:checked + .slider:before {
  -webkit-transform: translateY(26px);
  /* 调整为垂直移动 */
  -ms-transform: translateY(26px);
  transform: translateY(26px);
}
.btns .switch .slider.round {
  border-radius: 34px;
}
.btns .switch .slider.round:before {
  border-radius: 50%;
}
.swiper {
  width: 80%;
  height: 80%;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html {
  height: 100%;
}
body {
  background: url('../img/img5.jpg') center center no-repeat;
  box-sizing: 100% 100%;
  height: 100%;
  font-family: alimama;
  scrollbar-width: none;
  background-size: cover;
  /* 覆盖整个容器 */
  background-attachment: fixed;
  /* 固定背景图片 */
  background-position: center center;
  /* 将背景图片居中显示 */
  color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
body::-webkit-scrollbar {
  width: 0;
}
body .index {
  width: 1282px;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s;
}
body .index ul li {
  cursor: pointer;
}
body .index a {
  /* 移除下划线 */
  text-decoration: none;
  /* 移除默认的颜色 */
  color: inherit;
  /* 移除点击时的焦点轮廓 */
  outline: none;
  /* 移除鼠标悬停时的样式变化 */
}
body .index a:hover,
body .index a:focus,
body .index a:active {
  text-decoration: none;
  color: inherit;
  outline: none;
}
body .index-img {
  width: 560px;
  height: 560px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
body .index-img .imgbox {
  width: 90%;
  height: 90%;
  border-radius: 15px;
  overflow: hidden;
}
body .index-img .imgbox .imgbox {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
}
body .index-img .imgbox .imgY {
  transition: all 0.5s;
  transform: translateY(0px);
}
body .index-img .imgbox img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  transition: all 0.5s;
}
body .index-img .imgbox .img-lunbo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .index-right {
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  width: 400px;
  height: 560px;
  overflow-y: auto;
  scrollbar-width: none;
}
body .index-right::-webkit-scrollbar {
  width: 0;
}
body .index-right ul {
  height: auto;
  padding: 0;
}
body .index-right li {
  border: 1px solid transparent;
  text-align: center;
  list-style: none;
  margin: 0;
  transition: all 0.5s;
  padding: 0 20px;
  border-radius: 16px;
  box-sizing: border-box;
}
body .index-right li h1,
body .index-right li h2 {
  height: 80px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .index-right li h2:hover,
body .index-right li h1:hover {
  font-weight: bold;
  background: -webkit-linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  animation: gradient-text 3s ease infinite;
}
body .index-right li h2,
body .index-right li h1 {
  transition: all 0.5s;
}
body .index-right li:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
body .index-hidden {
  display: none;
}
/* 针对小屏幕设备 (手机) */
/* 针对中等屏幕设备 (平板) */
/* 针对大屏幕设备 (桌面显示器) */
/* 针对更大屏幕设备 (大桌面显示器) */
@keyframes gradient-text {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
/*# sourceMappingURL=./index.css.map */