body {
  background: url('../img/img5.jpg') center center no-repeat;
  box-sizing: 100% 100%;
  overflow: hidden;
  background-size: cover;
  /* 覆盖整个容器 */
  background-attachment: fixed;
  /* 固定背景图片 */
  background-position: center center;
  /* 将背景图片居中显示 */
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .index {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
body .index ul li {
  cursor: pointer;
}
body .index a {
  /* 移除下划线 */
  text-decoration: none;
  /* 移除默认的颜色 */
  color: inherit;
  /* 移除点击时的焦点轮廓 */
  outline: none;
  /* 移除鼠标悬停时的样式变化 */
}
body .index a:hover,
body .index a:focus,
body .index a:active {
  text-decoration: none;
  color: inherit;
  outline: none;
}
body .index-img {
  width: 560px;
  height: 560px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .index-img .imgbox {
  width: 500px;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
}
body .index-img .imgbox .imgbox {
  width: 500px;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
}
body .index-img .imgbox .imgY {
  transition: all 0.5s;
  transform: translateY(0px);
}
body .index-img .imgbox img {
  width: 500px;
  height: 500px;
  margin-bottom: 20px;
}
body .index-right {
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  width: 400px;
  height: 560px;
  overflow-y: auto;
  scrollbar-width: none;
}
body .index-right::-webkit-scrollbar {
  width: 0;
}
body .index-right ul {
  height: auto;
  padding: 0;
}
body .index-right li {
  border: 1px solid transparent;
  text-align: center;
  list-style: none;
  margin: 0;
  transition: all 0.5s;
  padding: 0 20px;
  border-radius: 16px;
  box-sizing: border-box;
}
body .index-right li h2:hover,
body .index-right li h1:hover {
  font-weight: bold;
  background: -webkit-linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  animation: gradient-text 3s ease infinite;
}
body .index-right li h2,
body .index-right li h1 {
  transition: all 0.5s;
}
body .index-right li:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
body #XiangyinshiLi,
body #gonnengkuaiBox {
  display: none;
}
@keyframes gradient-text {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
/*# sourceMappingURL=./index.css.map */