.body {
    background-color: #020617;

    .index{
        ul{
            margin: 0;

            li {
                list-style: none;
                margin: 0;

                a {
                    /* 移除下划线 */
                    text-decoration: none;
                    /* 移除默认的颜色 */
                    color: inherit;
                    /* 移除点击时的焦点轮廓 */
                    outline: none;
                    /* 移除鼠标悬停时的样式变化 */
                    &:hover,
                    &:focus,
                    &:active {
                        text-decoration: none;
                        color: inherit;
                        outline: none;
                    }
                }
            }
        }

    }
}