<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <h1>===评论系统===</h1>
    <div id="sddd">

        <input type="text" v-model="Uname" placeholder="用户名" v-if="usShow">
        <h4 v-else="usShow">当前用户名：{{Uname}}</h4>
        <br>

        <input type="text" v-model="Plun" placeholder="评论内容">

        <br>
        <button v-on:click="fabu">发布评论</button>
        <button v-on:click="xiugai">修改用户名</button>

        <div class="ssr" v-for="(pingluns,index) in pinglun">
            <h1>{{pingluns.username}}:</h1>
            <p>{{pingluns.pingL}}</p>
            <hr>
            <button v-on:click="Del(index)">删除</button>
        </div>


    </div>


    <script>
        let sd = new Vue({
            el: "#sddd",
            data: {
                msg: "啦啦啦啦啦啦啦",
                miaoshu: "我是描述",
                Uname: "",
                Plun: "",
                usShow: true,
                id: Date.now(),
                pinglun: [
                    { username: '用户名', pingL: "评论内容" }
                ]
            },
            methods: {
                fabu() {


                    this.pinglun.push({ username: this.Uname, pingL: this.Plun, Id: this.id })
                    this.Plun = ""
                    this.usShow = false




                    localStorage.setItem("user", JSON.stringify({
                        "usname": this.Uname,
                        "xiugai": false
                    }))

                    localStorage.setItem("pinglun", JSON.stringify(this.pinglun))
                },
                xiugai() {


                    this.usShow = true
                    localStorage.setItem("user", JSON.stringify({
                        "usname": this.Uname,
                        "xiugai": true
                    }))
                },


                Del(index) {
                    // 寻找触发事件的元素
                    // let eve = event.target
                    // let fuyuansu = eve.parentNode
                    // console.log(fuyuansu);
                    this.pinglun.splice(index, 1)
                    localStorage.setItem("pinglun", JSON.stringify(this.pinglun))
                }



            },
            created() {

                let sst = JSON.parse(localStorage.getItem("user"))
                if (localStorage.getItem('pinglun')) {

                    let pl = JSON.parse(localStorage.getItem('pinglun'))
                    this.pinglun = pl
                } else {
                    localStorage.setItem("pinglun", JSON.stringify(this.pinglun))
                    let pl = JSON.parse(localStorage.getItem('pinglun'))
                    this.pinglun = pl
                }
                this.Uname = sst.usname
                this.usShow = sst.xiugai


            }

        })



    </script>
</body>

</html>